.choice-food-section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color:#F5FBFC;
    min-height: calc(100vh - 282px);

    .choice-food-title{
        font-weight: 400;
        font-size: 55px;
        line-height: 55px;
        /* or 100% */

        letter-spacing: 1.65px;

        color: #35B8BE;
        text-align: center;

    }
    .choice-food-abaut{
        font-size: 18px;
        line-height: 27px;
        /* or 150% */

        letter-spacing: 0.36px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #546285;
        max-width: 324px;
        margin-top: 20px;
    }
    .form-choice-food{
        display: flex;
        align-items: baseline;
        gap: 20px;
        justify-content: center;
    .choice-food-input{
        display: block;
        width: 254px;
        height: 35px;
        outline: none;
        background: #2fb2d324;
        margin-top: 30px;
        border: 1px solid rgba(97, 114, 131, 0.2);
        border-radius: 6px;

    }
    .choice-food-button{
        padding: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        /* identical to box height, or 169% */

        text-align: center;
        letter-spacing: 0.36px;
        border:1px solid rgb(90, 135, 183);
        border-radius: 4px;
        color: #000000;
        font-size: 13px;
    }

}
.choice-food-list{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 25px;
    .choice-food-item{
        display: flex;
        gap: 35px;
        .choice-food-item--title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 20px;

            letter-spacing: 0.6px;

            color: #08090A;

            margin-bottom: 20px;
        }
        .choice-food-item--paragraf{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            letter-spacing: 0.32px;

            color: #546285;
        }
        .choice-food-item--save-recipe-btn{
            background: #35B8BE;
            border-radius: 6px;
            padding: 12px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            /* identical to box height, or 169% */

            text-align: center;
            letter-spacing: 0.36px;

            margin-top: 50px;
        }
    }
   
}}