.footer{
    background: #35B8BE;
    padding-top: 50px;
    padding-bottom: 50px;

    .footer-title{
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */

        letter-spacing: 1.5px;
        text-transform: uppercase;

        color: #08090A;
    }
    .tehnology-list{
        .tehnology-item-paragraf{
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #546285;
        }
    }
}
